extends ../../../view/instruction-layout

block instruction
    h1 #{instruction.mnemonic} -- #{instruction.synopsis}

    h2 Short description

    p #{instruction.shortDescription}

    h2 Long description

    p #{instruction.longDescription}

    h2 Affected flags

    p #{instruction.affectedFlags}