extends instruction-layout

block instruction
    div(class='instruction')
        h1 #{instruction.mnemonic}

        h2 Synopsis

        p #{instruction.synopsis}

        h2 Short description

        p #{instruction.shortDescription}

        h2 Long description

        p #{instruction.longDescription}

        h2 Affected flags

        p #{instruction.affectedFlags}